{% extends 'layout.html' %}
{% block content %}
<div class="w3-col m3"></div>
<div class="w3-col m6">
    <div class="w3-container w3-padding w3-round border pg-bgc-white">
        <div class="w3-padding w3-light-grey w3-round border pg-share" style="height:100px; overflow:auto;">
            {{ comment.content }}
        </div>

        <form method="POST" action="">
            {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.content.label(class="form-control-label") }}
                    {% if form.content.errors %}
                        {{ form.content(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.content.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.content(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div>
                    {{ form.submit(class="pg-btn") }}
                </div>
        </form>
    </div>
</div>
{% endblock content %}